<div class="text-center">

    <div class="col-xs-6" style="border-right: 0.5px solid grey">

        <div style="min-height: 120px">
            <h4>I would like to give by pledging to provide a check or cash at the wedding.</h4>
        </div>

        <button class="btn btn-raised btn-primary btn-lg" ng-click="modal.selectView('info', 2); modal.gift.option = 'pledge'">Make pledge</button>

    </div>

    <div class="col-xs-6">

        <div style="min-height: 120px">
            <h4>I would like to give by making an online payment now. Chase & Kristin will be notified of your gift at the wedding.</h4>
        </div>

        <button class="btn btn-raised btn-primary btn-lg" ng-click="modal.selectView('info', 2); modal.gift.option = 'payment'">Make payment</button>

    </div>

</div>