<div class="container-fluid">

    <div class="col-sm-8 col-sm-offset-2">

        <h3>Thank you for your RSVP!</h3>

        <h4>
            We greatly appreciate your support and look forward to seeing you at the Classic Club, on November 12, 2016 in Palm Desert,
            Ca! We're going to have a lot of fun!
            </br>
            -Chase & Kristin
        </h4>

        <p class="text-muted">
            If you have any questions about this site or any selection you have made, please contact us by calling (408) 221-0629.
        </p>

    </div>

    <div class="form-group">

        <div class="col-sm-offset-2 col-sm-10">
            <!--<button class="btn btn-raised btn-success" ng-click="modal.selectView('confirm', 4)">Back</button>-->
            <a class="btn btn-raised btn-success" href="https://www.theknot.com/us/kristin-sterling-and-chase-oliphant-nov-2016" ng-click="$hide()">I'm done. Go back to the Wedding Site.			    
            </a>
        </div>

    </div>

</div>