<div class="container-fluid">

    <div class="col-sm-8 col-sm-offset-2">

        <p class="text-muted" style="padding-top:25px">Please confirm that the following infomration is correct:</p>

        <table class="table table-striped">
            <thead></thead>
            <tbody>
                <tr ng-repeat="p in modal.rsvp.people">
                    <td>
                         <div class="tbl-name" ng-bind="p.first + ' ' + p.last"></div>
                    </td>
                    <td ng-if="p.attending">
                        <div>This person is attending.</div>
                        <div>Meal selection: <span ng-bind="p.meal"></span></div>
                        <div ng-show="p.allergies">Food Allergies: <span ng-bind="p.allergies"></span></div>
                    </td>
                    <td ng-if="!p.attending">
                        <div>This person is not attending.</div>
                    </td>
                </tr>
            </tbody>          
        </table>

        <p class="text-muted">
            By clicking submit, I confirm that the information above is correct.
        </p>

        <div class="col-sm-12">
            <button class="btn btn-raised btn-default" ng-click="modal.submitAttendance(modal.rsvp.people, false)">Back</button>
            <button class="btn btn-raised btn-success" ng-click="modal.submitRsvp(modal.rsvp)">Submit RSVP</button>
        </div>

    </div>

</div>