<div class="aside ng-scope left am-fade-and-slide-left" tabindex="-1" role="dialog" style="z-index: 1050; display: block;">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" aria-hidden="false">
                <button type="button" class="close" ng-click="$hide()">×</button>
                <h4 class="aside-title">Title</h4>
            </div>
            <div class="aside-body ng-binding">Hello Aside<br>This is a multiline message!</div>
            <div class="aside-footer"><button type="button" class="btn btn-default" ng-click="$hide()">Close</button></div>

            {{aside.test}}

        </div>
    </div>
</div>