<div class="aside aside-nav ng-scope left am-slide-left" tabindex="-1" role="dialog">
    <div class="aside-dialog">
        <div class="aside-content">
            <div class="aside-header" style="background-color:#661a86; height:70px" aria-hidden="false">

                <a class="btn btn-simple white close-aside" ng-click="$hide()">
                    <i class="fa fa-caret-square-o-left"></i>
                </a>

            </div>



            <a class="btn btn-primary btn-block">Button 1</a>
            <a class="btn btn-primary btn-block">Button 2</a>



        </div>
    </div>
</div>